* {
    box-sizing: border-box;

    color: rgb(255, 255, 255);   
}
body {
    background-image: url(./assets/bg.png);
    margin: 0;
}
h2 {
    color:rgb(205, 7, 226)
}
#topo {
    border: red solid 1px;
}
#topo img {
    padding-bottom: 2px;
    max-width: 150px; 
    max-height: 100px;
    padding-bottom:0%;
}
#topo ul li {
    list-style: none;
    position: absolute;
    top: 2px;
    right: 12px;
    padding-top:  10px;
    margin-left: 90%;
}

#inicio {
    padding-top: 10px;
    padding-bottom: 10px;
    border: red solid 1px;
    text-align: center;
    line-height: 0px;
}

#inicio h1 {
    font-size: 80px;
}

#inicio h1 span{
   color: #7e00a4ee;
}

#button {
    padding-top: 5px;
    padding-bottom: 5px;
    border: red solid 1px;
    text-align: center;
}

#button button {
    background: #7e00a4ee; 
    border-radius: 6px; 
    padding: 15px; 
    cursor: pointer; 
    color: #fff; 
    border: none; 
    font-size: 16px;
}

#sobre {
    justify-content: center;
    display: table;
    border: red solid 1px;
}
#sobre h2 {
    text-align: center;

}
#sobre img {
    position:relative;
    left: 220px;  
    max-width: 20%; 
    max-height: 20%; 
    border-radius: 20px;
}
.legenda {
    position: flex;
    top: 20px;
    border: blue solid 1px;
}

.legenda p{
    text-align: right;
}

#portifolio {

    border: red solid 1px;
    text-align: center;
}
.image li {
    display: flex;
    justify-content: center;
}
.image img{

        max-width: 20%;
        max-height: 20%;
        border-radius: 20px;
}

#portifolio ul {

    list-style: none;

}